.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #40a497;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: #977878;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }



  
body {
    font-family: Arial, sans-serif;
    padding: 100px;
    background-color: white;
    background-image: url('background.jpg');
    background-size: cover;
    align:center;
}



.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

.flex {
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 5px 30px;

    }


/* menu button */


button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    width: 35%;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }