<!DOCTYPE html>
<html>
    <head>
        <title>Stream</title>
        <meta name="viewport" content="width=device-width">
        {%load static%}
        <link rel="stylesheet" type="text/css" href="http://54.198.139.22/static/upload.css">
        <script type="text/javascript" src="http://54.198.139.22/static/upload.js"></script>
        
    </head>
    <body>
        <center>
        <form class="form" method="POST" enctype="multipart/form-data" action="{% url 'delete_video' %}">
            {% csrf_token %}
            <input type="text" class="input" name="title" id="title" placeholder="Video Title" required>
            <br>
            <div class="center-button">
            <button type="submit">Delete</button>
            </div>
        </form>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </center>
    </body>
</html>
